body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

#button-container {
  display: flex;
  width: 100%;
}

#library {
  margin-top: 35px;
  width: 70%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding: 0 20px;
}

a:link, a:visited, a:active, a:hover {
  color: rgb(227, 124, 20);
}

#library-button, #add-book-button, #about-button {
  border: 2px solid rgb(227, 124, 20);
  background-color: rgb(227, 124, 20);
  padding: 10px;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  transition: 0.7s;
}

#library-button:hover, #add-book-button:hover, #about-button:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(227, 124, 20);
}

#about {
  margin-top: 30px;
  color: rgb(227, 124, 20);
  font-size: 20px;
  width: 50%;
  font-weight: 900;
  display: none;
  flex-direction: column;
}

#add-book-container {
  margin-top: 35px;
  width: 30%;
  display: none;
  flex-direction: column;
  border: 2px solid rgb(227, 124, 20);
  border-radius: 9px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

#submit-book-button {
  border: 2px solid rgb(227, 124, 20);
  padding: 10px 40px;
  border-radius: 9px;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  background-color: rgb(227, 124, 20);
  width: 100%;
  margin: 25px 0 0 0;
  transition: 0.7s;
}

#submit-book-button:hover {
  background-color: white;
  cursor: pointer;
  color: rgb(227, 124, 20);
  box-shadow: 1px 1px 3px 1px rgb(177, 175, 175);
}

#cancel-submit-book {
  border: 2px solid rgb(227, 124, 20);
  padding: 10px 40px;
  border-radius: 9px;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(227, 124, 20);
  background-color: white;
  width: 100%;
  margin-top: 10px;
  transition: 0.7s;
}

#cancel-submit-book:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgb(177, 175, 175);
}

h1 {
  color: rgb(227, 124, 20);
  border-bottom: 4px dotted rgb(227, 124, 20);
}

span {
  margin-left: 10px;
}

input {
  margin: 10px;
  border-radius: 9px;
  border: 1px solid rgb(227, 124, 20);
  font-size: 17px;
  padding: 4px 4px 4px 10px;
  font-weight: 900;
}

#account-link {
  display: flex;
  align-items: center;
}

#github-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.book {
  width: 90%;
  border: 1px solid rgb(227, 124, 20);
  border-radius: 9px;
  padding: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}

#read-box {
  display: flex;
}

#book-title {
  font-weight: bolder;
  font-size: 25px;
}
